.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: grid;
  grid-template-columns: 1fr 10fr;
  background-color: white;
  height: auto;
  padding: 20px;
  color: white;
}

.App-header nav ul {
  display: flex;
  padding-top: 60px;
  list-style: none;
}

.App-header nav li {
  display: inline;
  padding: 14px 20px;
}

.App-header nav li:hover {
  background-color: #00B295;
  color: white;
}

.App-header nav li:hover a {
  color: inherit;
}


.App-header nav li a {
  color: darkgreen;
  font-size: 1.5em;
  text-decoration: none;
}

.App-title {
  font-size: 1.5em;
  color: red;
}

.App-intro {
  font-size: large;
}

.navbar {
  background-color: white;
}

.ul {
  float: left;
}

.li {
  list-style: none;
  display: inline;
}

.nav-item {
  padding: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header-logo {
  width: 200px;
}
